/* Color Palette http://www.colourlovers.com/palette/292482/Terra */


footer.container:before {
	content:" ";
	border-bottom: solid #666 1px;
	width: 400px;
	height: 1px;
}

.page-footer p {
	font-size: 14px;
}
.page-footer hr {
	border-top: 1px solid #666;
	width:60%;
}

.content-a {
	background-color:#031634;
}

.content-b {
	background-color:#033649;
}

.navbar-toggle .icon-bar {
	background-color:#FFFFFF;
}

.profile-picture {
	background:url(../img/profile_dillion_patrick.jpg);
	background-position:center;
	background-size:contain;
	width:auto;
	margin:5px auto;
	padding:125px;
	max-width:250px;
	max-height:250px;
	border-radius:50%;
}