@charset "utf-8";
/* CSS Document */

/*To accomadate the fixed nav bar*/
body {
	padding-top: 70px;
}


.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
  margin-bottom: 0;
}


/* Blog styles */

.blog-post {
	border-color:#ddd;
}

.blog-post-title {
	background:#F3F3FF;
	color:#0F0F33;
	font-size:1.1em;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:1px solid #DDD;
}

.blog-post-body {
}

.blog-post-footer {
}
.blog-sidebar {
}

